{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="element-wrapper">
            <div class="row">
                <div class="col-lg-10">
                    <h5 class="element-header">Liste des transactions : GIVE (Achat d'UV master en banque)</h5>
                </div>
                <div class="col-lg-2 text-right">
                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles() %}
                        <a href="{{ path('trader_add') }}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Ajouter</a>
                    {% endif %}
                </div>
            </div>
            <div class="element-box">
                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Numéros</th>
                            <th>Montant</th>
                            <th>Nbre </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if trades %}
                            {% for trade in trades %}
                                <tr>
                                    <td class="text-center">{{ loop.index0 + 1  }}</td>
                                    <td >{{ trade.day | date("F yy") }}</td>
                                    <td class="text-left">{{ trade.sim }}</td>
                                    <td class="text-right">{{ trade.amount | number_format(0, ',', ' ') }} F CFA</td>
                                    <td class="text-right">{{ trade.total | number_format(0, ',', ' ') }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
