<div class="element-content">
    <div class="row">
        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Sim Actif
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ simCardStat.activeSimCard }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>100%</span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Nbre de PDV
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ (simCardStat.activePointofsale - simCardStat.activePointofsaleByProfile('POSCAGNT')) }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>
                        {% if simCardStat.activeSimCard  %}
                            {{ ((simCardStat.activePointofsale / simCardStat.activeSimCard) *100) | round(2, 'floor') }}
                        {% else %}
                            0
                        {% endif %}%
                    </span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Nbre de AGNT
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ simCardStat.activePointofsaleByProfile('AGNT') }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>
                        {% if simCardStat.activeSimCard  %}
                            {{ ((simCardStat.activePointofsaleByProfile('AGNT') / simCardStat.activeSimCard) *100) | round(2, 'floor') }}
                        {% else %}
                            0
                        {% endif %}%
                    </span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Nbre de DISTRO
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ simCardStat.activePointofsaleByProfile('DISTRO') }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>
                        {% if simCardStat.activeSimCard  %}
                            {{ ((simCardStat.activePointofsaleByProfile('DISTRO') / simCardStat.activeSimCard) *100) | round(2, 'floor') }}
                        {% else %}
                            0
                        {% endif %}%
                    </span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Nbre de POSCAGNT
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ simCardStat.activePointofsaleByProfile('POSCAGNT') }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>
                        {% if simCardStat.activeSimCard  %}
                            {{ ((simCardStat.activePointofsaleByProfile('POSCAGNT') / simCardStat.activeSimCard) *100) | round( 2, 'floor') }}
                        {% else %}
                            0
                        {% endif %}%
                    </span>
                </div>
            </a>
        </div>

        <div class="col-sm-2 col-xxxl-2">
            <a class="element-box el-tablo" href="#">
                <div class="label">
                    Nbre de CAGNT
                </div>
                <div class="value">
                    {% if simCardStat.activeSimCard  %}
                        {{ simCardStat.activeTraderByProfile('CAGNT') }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="trending">
                    <span>
                        {% if simCardStat.activeSimCard  %}
                            {{ ((simCardStat.activePointofsaleByProfile('CAGNT') / simCardStat.activeSimCard) *100) | round(2, 'floor') }}
                        {% else %}
                            0
                        {% endif %}%
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
