{% extends 'base.html.twig' %}

{% block title %}Commercial{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="element-wrapper">
            <div class="element-header">
                Statistique du commercial :  {% if trader %}{{ trader.fullName }}{% endif %} | {% if trader.msisdn %}{{ trader.msisdn.msisdn }}{% endif %}
                <div class="element-actions">
                    {{ include('partials/_searchForm.html.twig') }}
                </div>
            </div>
            {% if stat is defined %}
                {{ include('partials/_zoningStat.html.twig') }}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="os-tabs-w mx-4">
                    <div class="os-tabs-controls">
                        <ul class="nav nav-tabs upper" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Résumé</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="transaction-tab" data-toggle="tab" href="#transaction" role="tab" aria-controls="transaction" aria-selected="true">
                                    Apport Zone
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="appro-tab" data-toggle="tab" href="#appro" role="tab" aria-controls="appro" aria-selected="true">
                                    Appro Master
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="retour-tab" data-toggle="tab" href="#retour" role="tab" aria-controls="retour" aria-selected="true">
                                    Retour Master
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reconversionAchat-tab" data-toggle="tab" href="#reconversionAchat" role="tab" aria-controls="reconversionAchat" aria-selected="true">
                                    Conversion Achat
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reconversionVente-tab" data-toggle="tab" href="#reconversionVente" role="tab" aria-controls="reconversionVente" aria-selected="true">
                                    Conversion Vente
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="vente-tab" data-toggle="tab" href="#vente" role="tab" aria-controls="vente" aria-selected="true">
                                    Vente
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="echange-tab" data-toggle="tab" href="#echange" role="tab" aria-controls="echange" aria-selected="true">
                                    Echange
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="univers-tab" data-toggle="tab" href="#echange" role="tab" aria-controls="univers" aria-selected="true">
                                    Univers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="element-box">
                            <div class="col-sm-12">
                                <div class="el-tablo bigger">
                                    <div class="label">
                                        Commission du : {% if lastSale %}{{ lastSale[0].day | date("jS F Y") }} {% endif %}
                                    </div>
                                    <div class="value">
                                        {% if lastSale %} {{ lastSale[0].dComm |  number_format(0, ',', ' ') }} FCFA {% endif %}
                                    </div>
                                </div>
                                <div class="el-chart-w">
                                    <canvas height="170px" id="tradeChart" width="600px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="transaction" role="tabpanel" aria-labelledby="transaction-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des ventes journalier (période)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Nbre</th>
                                            <th>Valeur</th>
                                            <th>Commission POS</th>
                                            <th>Commission Dealer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if periodSales %}
                                            {% for periodSale in periodSales %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ periodSale.day | date("jS F Y") }}</td>
                                                    <td>{{ periodSale.total | number_format(0, ',', ' ') }}</td>
                                                    <td>{{ periodSale.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                    <td>{{ periodSale.posComm | number_format(0, ',', ' ') }} F CFA</td>
                                                    <td>{{ periodSale.dComm | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="appro" role="tabpanel" aria-labelledby="appro-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                   Tableau des approvisinnement reçus du master (Appro virtuel)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable2" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsFromMasterToTrader %}
                                            {% for virtualFromMasterToTrader in virtualsFromMasterToTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualFromMasterToTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualFromMasterToTrader.fromMsisdn %}
                                                            {% if virtualFromMasterToTrader.fromMsisdn.trader  %}
                                                                {{ virtualFromMasterToTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualFromMasterToTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualFromMasterToTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif virtualFromMasterToTrader.fromMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromMasterToTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualFromMasterToTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualFromMasterToTrader.toMsisdn %}
                                                            {% if virtualFromMasterToTrader.toMsisdn.trader  %}
                                                                {{ virtualFromMasterToTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualFromMasterToTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualFromMasterToTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif virtualFromMasterToTrader.toMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromMasterToTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualFromMasterToTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualFromMasterToTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualFromMasterToTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="retour" role="tabpanel" aria-labelledby="retour-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des retour de virtuel au master (retour virtuel)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable2a" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsToMasterByTrader %}
                                            {% for virtualToMasterByTrader in virtualsToMasterByTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualToMasterByTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualToMasterByTrader.fromMsisdn %}
                                                            {% if virtualToMasterByTrader.fromMsisdn.trader  %}
                                                                {{ virtualToMasterByTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualToMasterByTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualToMasterByTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif virtualToMasterByTrader.fromMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToMasterByTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualToMasterByTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualToMasterByTrader.toMsisdn %}
                                                            {% if virtualToMasterByTrader.toMsisdn.trader  %}
                                                                {{ virtualToMasterByTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualToMasterByTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualToMasterByTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif virtualToMasterByTrader.toMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToMasterByTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualToMasterByTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualToMasterByTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualToMasterByTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="reconversionAchat" role="tabpanel" aria-labelledby="reconversionAchat-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des reconversion achat de virtuel en banque
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable3" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsToBankByTrader %}
                                            {% for virtualToBankByTrader in virtualsToBankByTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualToBankByTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualToBankByTrader.fromMsisdn %}
                                                            {% if virtualToBankByTrader.fromMsisdn.trader  %}
                                                                {{ virtualToBankByTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualToBankByTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualToBankByTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif virtualToBankByTrader.fromMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToBankByTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualToBankByTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualToBankByTrader.toMsisdn %}
                                                            {% if virtualToBankByTrader.toMsisdn.trader  %}
                                                                {{ virtualToBankByTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualToBankByTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualToBankByTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif virtualToBankByTrader.toMsisdn is null %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToBankByTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualToBankByTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualToBankByTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualToBankByTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="reconversionVente" role="tabpanel" aria-labelledby="reconversionVente-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des reconversion vente de virtuel en banque (Récupération en espèce)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable4" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsFromBankToTrader %}
                                            {% for virtualFromBankToTrader in virtualsFromBankToTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualFromBankToTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualFromBankToTrader.fromMsisdn %}
                                                            {% if virtualFromBankToTrader.fromMsisdn.trader  %}
                                                                {{ virtualFromBankToTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualFromBankToTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualFromBankToTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif  virtualFromBankToTrader.fromMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromBankToTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualFromBankToTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualFromBankToTrader.toMsisdn %}
                                                            {% if virtualFromBankToTrader.toMsisdn.trader  %}
                                                                {{ virtualFromBankToTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualFromBankToTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualFromBankToTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif  virtualFromBankToTrader.toMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromBankToTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualFromBankToTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualFromBankToTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualFromBankToTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="vente" role="tabpanel" aria-labelledby="vente-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des vente de virtuel au PDV (Récupération en espèce)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable5" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsToPosByTrader %}
                                            {% for virtualToPosByTrader in virtualsToPosByTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualToPosByTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualToPosByTrader.fromMsisdn %}
                                                            {% if virtualToPosByTrader.fromMsisdn.trader  %}
                                                                {{ virtualToPosByTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualToPosByTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualToPosByTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif  virtualToPosByTrader.fromMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToPosByTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualToPosByTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualToPosByTrader.toMsisdn %}
                                                            {% if virtualToPosByTrader.toMsisdn.trader  %}
                                                                {{ virtualToPosByTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualToPosByTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualToPosByTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif  virtualToPosByTrader.toMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualToPosByTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualToPosByTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualToPosByTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualToPosByTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="echange" role="tabpanel" aria-labelledby="echange-tab">
                        <div class="element-wrapper">
                            <div class="row">
                                <h6 class="element-header">
                                    Tableau des echange de virtuel avec les PDVs (Récupération en vituel)
                                </h6>
                            </div>
                            <div class="element-box">
                                <div class="table-responsive">
                                    <table id="dataTable6" width="100%" class="table table-striped table-lightfont">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Date</th>
                                            <th>Emétteur</th>
                                            <th>Récepteur</th>
                                            <th>Valeur</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set totalAmount = 0 %}
                                        {% set row = 0 %}
                                        {% if virtualsFromPosToTrader %}
                                            {% for virtualFromPosToTrader in virtualsFromPosToTrader %}
                                                <tr>
                                                    <td>{{ loop.index0+1 }}</td>
                                                    <td>{{ virtualFromPosToTrader.transactionAt | date("jS F Y à g:i a") }}</td>
                                                    <td>
                                                        {% if virtualFromPosToTrader.fromMsisdn %}
                                                            {% if virtualFromPosToTrader.fromMsisdn.trader  %}
                                                                {{ virtualFromPosToTrader.fromMsisdn.trader.fullName }}
                                                            {% elseif virtualFromPosToTrader.fromMsisdn.pointofsale  %}
                                                                {{ virtualFromPosToTrader.fromMsisdn.pointofsale.name }}
                                                            {% endif %}
                                                        {% elseif  virtualFromPosToTrader.fromMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromPosToTrader.fromMsisdn is not null %}
                                                            &nbsp;({{ virtualFromPosToTrader.fromMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if virtualFromPosToTrader.toMsisdn %}
                                                            {% if virtualFromPosToTrader.toMsisdn.trader  %}
                                                                {{ virtualFromPosToTrader.toMsisdn.trader.fullName }}
                                                            {% elseif virtualFromPosToTrader.toMsisdn.pointofsale  %}
                                                                {{ virtualFromPosToTrader.toMsisdn.pointofsale.name }}

                                                            {% endif %}
                                                        {% elseif  virtualFromPosToTrader.toMsisdn is null  %}
                                                            Banque
                                                        {% endif %}
                                                        {% if virtualFromPosToTrader.toMsisdn is not null %}
                                                            &nbsp;({{ virtualFromPosToTrader.toMsisdn.msisdn }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ virtualFromPosToTrader.amount | number_format(0, ',', ' ') }} F CFA</td>
                                                </tr>
                                                {% set totalAmount = totalAmount + virtualFromPosToTrader.amount%}
                                                {% set row = loop.index0 + 2 %}
                                            {% endfor %}
                                            <tr>
                                                <td>{{ row }}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total</td>
                                                <td class="text-right">{{ totalAmount | number_format(0, ',', ' ') }} FCFA</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#dataTable2 #dataTable2a').DataTable({
                responsive: true
            });
            $('#dataTable3').DataTable({
                responsive: true
            });
            $('#dataTable4').DataTable({
                responsive: true
            });
            $('#dataTable5').DataTable({
                responsive: true
            });
            $('#dataTable6').DataTable({
                responsive: true
            });
        } );
    </script>
    <script>
        var ctx = document.getElementById('tradeChart').getContext('2d');
        if ($("#tradeChart").length) {
            var lineChart = $("#tradeChart");

            // line chart data
            var lineData = {
                labels:{% if days is defined %}[{% for day in days %}"{{ day }}"{% if not loop.last %},{% endif %}{% endfor %}] {% else %}["J","J-1","J-2","J-3","J-4","J-5","J-6","J-7"]{% endif %},

                datasets: [{
                    label: "Commission du dealer",
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: "#fff",
                    borderColor: "#047bf8",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "#141E41",
                    pointBorderWidth: 3,
                    pointHoverRadius: 10,
                    pointHoverBackgroundColor: "#FC2055",
                    pointHoverBorderColor: "#fff",
                    pointHoverBorderWidth: 3,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: {% if percentWeekComm is defined %} {{ percentWeekComm }} {% else %} [10,20,30,40,50,40,10,70]{% endif %},
                    spanGaps: false
                }]
            };

            // line chart init

        }
        var myLineChart = new Chart(lineChart, {
            type: 'line',
            data: lineData,
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            fontSize: '11',
                            fontColor: '#969da5'
                        },
                        gridLines: {
                            color: 'rgba(0,0,0,0.05)',
                            zeroLineColor: 'rgba(0,0,0,0.05)'
                        }
                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}

