{% extends 'base.html.twig' %}

{% block title %}Zoning{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="element-wrapper">
            <div class="row">
                <div class="col-lg-10">
                    <h5 class="element-header">Liste des quartiers</h5>
                </div>
                <div class="col-lg-2 text-right">
                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles() %}
                        <a href="{{ path('district_add') }}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Ajouter</a>
                    {% endif %}
                </div>
            </div>
            {{ include('partials/_simCardStat.html.twig') }}
            <div class="element-box">
                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Commune</th>
                            <th>Préfecture</th>
                            <th>Quartier</th>
                            <th>PDV Agnt</th>
                            <th>PDV Distro</th>
                            <th>Total PDV</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if districts %}
                            {% for district in districts  %}
                                <tr>
                                    <td>{{ loop.index0 + 1  }}</td>
                                    <td>{% if district.township %}{{ district.township.prefecture.town.name }}{% else %}Commune inexistante{% endif %}</td>
                                    <td>{% if district.township %}{{ district.township.prefecture.name }}{% else %}Préfecture inexistante{% endif %}</td>
                                    <td>{{ district.name }}</td>
                                    <td>{{ zoningStat.pointofsaleInDistrict(district.id, 'AGNT') }}</td>
                                    <td>{{ zoningStat.pointofsaleInDistrict(district.id, 'DISTRO')  }}</td>
                                    <td>{{ zoningStat.pointofsaleInDistrict(district.id, 'AGNT') + zoningStat.pointofsaleInDistrict(district.id, 'DISTRO') }}</td>
                                    <td class="row-actions">
                                        <a href="{{ path('district_edit', {'id': district.id}) }}"><i class="os-icon os-icon-ui-49"></i></a>
                                        <a href="{{ path('district_show', {'id': district.id}) }}"><i class="fa fa-eye"></i></a>
                                        <a class="danger" href="{{ path('district_delete', {'id':district.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer le quartier{{ district.name }}')"><i class="os-icon os-icon-ui-15"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}