{% extends 'base.html.twig' %}
{% block title %}Point de vente{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <h5 class="form-header">
                            {% if pointofsale is defined %}
                                Modification du point de vente {% if pointofsale.msisdn %}{{ pointofsale.msisdn.name }}{% endif %}
                            {% else %}
                                Enregistrement d'un nouveau point de vente
                            {% endif %}
                        </h5>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <legend><span>Identification</span></legend>
                                    {{ form_row(form.msisdn) }}
                                    {{ form_row(form.activity) }}
                                    {{ form_row(form.isActive) }}
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <legend><span>Localisation</span></legend>
                                    {{ form_row(form.district) }}
                                    {{ form_row(form.position) }}
                                    <div class="row">
                                        <div class="col-sm-6">{{ form_row(form.latitude) }}</div>
                                        <div class="col-sm-6">{{ form_row(form.longitude) }}</div>
                                    </div>
                                    {{ form_row(form.contact) }}
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-buttons-w text-right compact">
                            <button class="btn btn-primary" type="submit"> Valider</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



