{% extends 'base.html.twig' %}

{% block title %}Zoning{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="element-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="element-header">Liste des zones</h5>
                </div>
                <div class="col-lg-2">
                    <a href="{{ path('zone_add') }}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Ajouter</a>
                </div>
            </div>
            <div class="element-box">
                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Zone</th>
                            <th>Dernière mise à jour</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if zones %}
                        {% for zone in zones %}
                            <tr>
                                <td>{{ loop.index0 + 1  }}</td>
                                <td>{{ zone.name }}</td>
                                <td>{{ zone.updateAt | date("F jS à g:ia") }}</td>
                                <td class="row-actions">
                                    <a href="{{ path('zone_edit', {'id': zone.id}) }}"><i class="os-icon os-icon-ui-49"></i></a>
                                    <a class="danger" href="{{ path('zone_delete', {'id':zone.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer la zone{{ zone.name }}')"><i class="os-icon os-icon-ui-15"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
