{% extends 'base.html.twig' %}
{% block title %}Résumé périodique{% endblock %}

{% block body %}

    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        {{ include('partials/_searchForm.html.twig') }}
                    </div>
                    <h6 class="element-header">
                       Tableau de résumé périodique
                    </h6>
                    <div class="element-box">
                        <div class="element-info">
                            <div class="row align-items-center">
                                <div class="col-sm-8">
                                    <div class="element-info-with-icon">
                                        <div class="element-info-icon">
                                            <div class="os-icon os-icon-wallet-loaded"></div>
                                        </div>
                                        <div class="element-info-text">
                                            <h5 class="element-inner-header">
                                                Tableau de résumé périoque
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-8">
                                <div class="row">
                                    <div class="col-sm-6 b-r b-b">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                {{ pointofsaleStat.commissionDealer(search) | number_format(0, ',', ' ') ~ ' F CFA' }}
                                            </div>
                                            <div class="label">
                                                Commission du dealer
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 b-b">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                {{ pointofsaleStat.commissionPOS(search) | number_format(0, ',', ' ') ~ ' F CFA' }}
                                            </div>
                                            <div class="label">
                                                Commission des PDV
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="label">
                                                Commission dealer des AGNT
                                            </div>
                                            <div class="value">
                                                {{ pointofsaleStat.commByProfile(search, 'AGNT') | number_format(0, ',', ' ') ~ ' F CFA' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="label">
                                                Commission dealer des DISTRO
                                            </div>
                                            <div class="value">
                                                {{ pointofsaleStat.commByProfile(search, 'DISTRO') | number_format(0, ',', ' ') ~ ' F CFA' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="el-tablo centered padded">
                                            <div class="label">
                                                Total GiveCom
                                            </div>
                                            <div class="value">
                                                {{ pointofsaleStat.giveComByPeriod(search) | number_format(0, ',', ' ') ~ ' F CFA' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="padded b-l b-r-xl">
                                    <div class="element-info-with-icon smaller">
                                        <div class="element-info-icon">
                                            <div class="os-icon os-icon-bar-chart-stats-up"></div>
                                        </div>
                                        <div class="element-info-text">
                                            <h5 class="element-inner-header">
                                                Revenu périodique
                                            </h5>
                                            <div class="element-inner-desc">
                                                Calculer suivant la période
                                            </div>
                                        </div>
                                    </div>
                                    <div class="os-progress-bar primary">
                                        <div class="bar-labels">
                                            <div class="bar-label-left">
                                                <span>Revenu des AGNT</span><span class="positive">+10</span>
                                            </div>
                                            <div class="bar-label-right">
                                                <span class="info">72/100</span>
                                            </div>
                                        </div>
                                        <div class="bar-level-1" style="width: 100%">
                                            <div class="bar-level-2" style="width: 60%">
                                                <div class="bar-level-3" style="width: 20%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="os-progress-bar primary">
                                        <div class="bar-labels">
                                            <div class="bar-label-left">
                                                <span>Revenu des DITRO</span><span class="negative">-5</span>
                                            </div>
                                            <div class="bar-label-right">
                                                <span class="info">62/100</span>
                                            </div>
                                        </div>
                                        <div class="bar-level-1" style="width: 100%">
                                            <div class="bar-level-2" style="width: 40%">
                                                <div class="bar-level-3" style="width: 10%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="os-progress-bar primary">
                                        <div class="bar-labels">
                                            <div class="bar-label-left">
                                                <span>Achat virtuel</span><span class="positive">+12</span>
                                            </div>
                                            <div class="bar-label-right">
                                                <span class="info">78/100</span>
                                            </div>
                                        </div>
                                        <div class="bar-level-1" style="width: 100%">
                                            <div class="bar-level-2" style="width: 80%">
                                                <div class="bar-level-3" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



