{% extends 'base.html.twig' %}
{% block title %}Tableau de bord périodique{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        {{ include('partials/_SearchForm.html.twig') }}
                    </div>
                    <h6 class="element-header">
                        Tableau de perrfomances des point de ventes VS Objectif (Période)
                    </h6>
                </div>
            </div>
        </div>
        <div class="element-box">
            <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Profil</th>
                        <th>Numéro flooz</th>
                        <th>Nom complet</th>
                        <th>Région</th>
                        <th>Commune</th>
                        <th>Commission PDV</th>
                        <th>Commission Dealer</th>
                        <th>Objectif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if sales  %}
                            {% for sale in sales %}
                                <tr>
                                    <td class="text-center">{{ loop.index0+1 }}</td>
                                    <th>{{ sale.pointofsale.msisdn.profile.title }}</th>
                                    <td>{{ sale.pointofsale.msisdn.msisdn }}</td>
                                    <td>{{ sale.pointofsale.name }}</td>
                                    <td>{{ sale.pointofsale.district.township.prefecture.town.region.name }}</td>
                                    <td>{{ sale.pointofsale.district.township.prefecture.town.name }}</td>
                                    <td>{{ sale.posComm | number_format(0, ',', ' ') }} F CFA</td>
                                    <td>{{ sale.dComm | number_format(0, ',', ' ') }} F CFA</td>
                                    <td>{{ goal }}</td>
                                    <td class="row-actions">
                                        <a href="{{ path('pointofsale_show', {'id': sale.pointofsale.id}) }}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



