{% extends 'base.html.twig' %}
{% block title %}
Tableau de bord par région
{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        {{ include('partials/_searchForm.html.twig') }}
                    </div>
                    <h6 class="element-header">
                        Tableau de perfomances des par Region
                    </h6>
                </div>
            </div>
        </div>
        <div class="element-box">
            <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Région</th>
                        <th>Nbre de PDV</th>
                        <th>Nbre de AGNT</th>
                        <th>Nbre de DISTRO</th>
                        <th>Valeur des transactions</th>
                        <th>Nbre des Transactions</th>
                        <th>Commission PDV</th>
                        <th>Commission Dealer</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if sales  %}
                        {% set totalDcomm = 0 %}
                        {% set totalPosComm = 0 %}
                        {% set totalAmount = 0 %}
                        {% set total = 0 %}
                        {% set row = 0 %}
                        {% for sale in sales %}
                            <tr>
                                <td class="text-center">{{ loop.index0+1 }}</td>
                                <th>{{ sale.name | capitalize }}</th>
                                <td>{{ zoningStat.pointofsaleInRegion(sale.id, 'AGNT') + zoningStat.pointofsaleInRegion(sale.id, 'DISTRO') | number_format(0, ',', ' ')  }}</td>
                                <td>{{ zoningStat.pointofsaleInRegion(sale.id, 'AGNT') | number_format(0, ',', ' ')  }}</td>
                                <td>{{ zoningStat.pointofsaleInRegion(sale.id, 'DISTRO') | number_format(0, ',', ' ')  }}</td>
                                <td>{{ sale.amount | number_format(0, ',', ' ')  }} F CFA</td>
                                <td>{{ sale.total | number_format(0, ',', ' ')  }}</td>
                                <td>{{ sale.posComm | number_format(0, ',', ' ')  }} F CFA</td>
                                <td>{{ sale.dComm | number_format(0, ',', ' ')  }} F CFA</td>
                                {% set totalDcomm = totalDcomm + sale.dComm %}
                                {% set totalPosComm = totalPosComm + sale.posComm %}
                                {% set totalAmount = totalAmount + sale.amount %}
                                {% set total = total + sale.total %}
                                {% set row = loop.index0+2 %}
                            </tr>

                        {% endfor %}
                        {% if others %}
                            {% for other in others %}
                            <tr>
                                <td class="text-center">{{ row }}</td>
                                <td>Autre</td>
                                <td>{{ zoningStat.PointofsaleWithoutDistrict('AGNT') + zoningStat.PointofsaleWithoutDistrict('DISTRO') | number_format(0, ',', ' ') }}</td>
                                <td>{{ zoningStat.PointofsaleWithoutDistrict('AGNT') | number_format(0, ',', ' ')  }}</td>
                                <td>{{ zoningStat.PointofsaleWithoutDistrict('DISTRO') | number_format(0, ',', ' ') }}</td>
                                <td>{{ other.amount | number_format(0, ',', ' ') }} F CFA</td>
                                <td>{{ other.total | number_format(0, ',', ' ') }}</td>
                                <td>{{ other.posComm | number_format(0, ',', ' ') }} F CFA</td>
                                <td>{{ other.dComm | number_format(0, ',', ' ') }} F CFA</td>
                                {% set totalDcomm = totalDcomm + other.dComm %}
                                {% set totalPosComm = totalPosComm + other.posComm %}
                                {% set totalAmount = totalAmount + other.amount %}
                                {% set total = total + other.total %}
                            </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td class="text-center">{{ row+1 }}</td>
                            <th> Total </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ totalAmount | number_format(0, ',', ' ')  }} F CFA</th>
                            <th>{{ total | number_format(0, ',', ' ')  }}</th>
                            <th>{{ totalPosComm | number_format(0, ',', ' ')  }} F CFA</th>
                            <th>{{ totalDcomm| number_format(0, ',', ' ')  }} F CFA</th>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



