{% extends 'base.html.twig' %}
{% block title %}Syntaxe{% endblock %}
{% block body %}
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <h5 class="form-header">
                            {% if syntax is defined %}
                                Modification de la syntaxe id: {{ syntax.id }}
                            {% else %}
                                Enregistrement d'une nouvelle syntaxe
                            {% endif %}
                        </h5>
                        {{ form_start(form) }}
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.title) }}</div>
                                <div class="col-sm-6">{{ form_row(form.description) }}</div>
                            </div>
                        </fieldset>
                        <div class="form-buttons-w text-right compact">
                            <button class="btn btn-primary" type="submit"> Valider</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}