{{ form_start(form) }}
<div class="row">

    <div class="col-sm-6">
        <fieldset class="form-group">
            <legend><span>Identité personnel</span></legend>
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.firstName) }}</div>
                <div class="col-sm-6">{{ form_row(form.lastName) }}</div>
            </div>
            {{ form_row(form.office) }}
            {{ form_row(form.pictureFile) }}
        </fieldset>
    </div>
    <div class="col-sm-6">
        <fieldset class="form-group">
            <legend><span>Identifiant</span></legend>
            {{ form_row(form.login) }}
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.password) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.passwordConfirm) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    {{ form_row(form.userRoles,  {'attr': {'class': 'select2'}}) }}
                </div>
                <div class="col-sm-3 mt-4">
                    <button data-target="#roleFormModal" data-toggle="modal" type="button" class="btn btn-secondary">Ajouter Role</button>
                </div>
            </div>

        </fieldset>
    </div>
</div>
<div class="form-buttons-w text-right compact">
    <button class="btn btn-primary" type="submit"> Valider</button>
</div>
{{ form_end(form) }}

<div aria-hidden="true" class="onboarding-modal modal fade animated" id="roleFormModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
            <div class="row mt-4"></div>
            <div class="onboarding-content with-gradient">
                <h4 class="onboarding-title">
                    Ajouter un rôle
                </h4>
            </div>
            {{ form_start(roleForm) }}
            <div class="m-4">
                <div class="row">
                    <div class="col-sm-6">{{ form_row(roleForm.title) }}</div>
                    <div class="col-sm-6">{{ form_row(roleForm.description) }}</div>
                </div>
                <div class="form-buttons-w text-right compact">
                    <button class="btn btn-primary" type="submit"> Valider</button>
                    <button aria-label="Close" class="btn btn-primary" data-dismiss="modal" type="button">Annuler</button>
                </div>
            </div>
            {{ form_end(roleForm) }}
        </div>
    </div>
</div>